<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Web Fonts
    ================================================== -->

    <!-- Basic Page Needs
    ================================================== -->

    <title>Gigi Motors Limited - Find New & Used Cars for Sale.</title>

    <!--meta info-->
    <meta charset="utf-8" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!-- Favicons-->
    <link
      rel="icon"
      href="{{url_for('static', filename='images/favicon/Gigi-Favicon.png')}}"
      sizes="32x32"
    />
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <!-- CSS theme files
    ============================================ -->
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home/plugins/fancybox/jquery.fancybox.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home/css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home/css/fontello.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home/css/owl.carousel.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home/css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home/css/responsive.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home/css/icon.css') }}"
    />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-46979417-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-46979417-1");
    </script>
    {% block custom_head_tags %} {% endblock %}
  </head>

  <body>
    <!-- - - - - - - - - - - - - - Wrapper - - - - - - - - - - - - - - - - -->

    <div id="wrapper" class="wrapper-container">
      <!-- - - - - - - - - - - - - Mobile Menu - - - - - - - - - - - - - - -->

      <nav id="mobile-advanced" class="mobile-advanced"></nav>

      <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

      <header id="header" class="header-3">
        <!-- top-bar -->

        <div class="top-bar">
          <div class="container">
            <div class="flex-row flex-justify flex-center">
              <div class="contact-info-menu type-2">
                <div class="contact-info-item lang-button">
                  <div class="flex-row flex-center"></div>
                </div>
              </div>
              <div style="position: absolute; right: 8%">
                <ul class="social-icons">
                  <li>
                    <a
                      href="https://www.facebook.com/GigiMotorsKenya"
                      target="__blank"
                      ><i class="icon-facebook"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/gigimotors" target="__blank"
                      ><i class="icon-twitter"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://www.youtube.com/channel/UChQ9NBGjcQUiYlcEqHtJCpA/"
                      target="__blank"
                      ><i class="icon-youtube-play"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://www.instagram.com/gigimotors_ke/"
                      target="__blank"
                      ><i class="icon-instagram-5"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <!--              <div class="slash-list">-->
              <!--                <span>Account: </span>-->
              <!--                <a href="#">Sign in</a>-->
              <!--                <a href="#">Sign up</a>-->
              <!--              </div>-->
            </div>
          </div>
        </div>

        <!-- top-header -->

        <div class="top-header">
          <div class="container">
            <div class="row flex-row flex-justify flex-center">
              <div class="col-sm-2">
                <!-- logo -->

                <div class="logo-wrap">
                  <a href="{{ url_for('home.index') }}" class="logo"
                    ><img
                      src="{{ url_for('static', filename='home/images/logo.png') }}"
                      alt=""
                      style="height: 56px"
                  /></a>
                </div>
              </div>
              <div class="col-sm-10">
                <!-- - - - - - - - - - - - - - Navigation - - - - - - - - - - - - - - - - -->

                <nav
                  id="main-navigation"
                  class="main-navigation"
                  style="float: right"
                >
                  <ul id="menu" class="clearfix">
                    <li>
                      <a href="{{ url_for('home.inventory') }}" class="wake"
                        >Buy a Car</a
                      >
                    </li>
                    <li>
                      <a href="{{ url_for('home.sell_vehicle') }}" class="wake"
                        >Sell your car</a
                      >
                    </li>
                    <li>
                      <a href="/trade-in" class="wake">Trade in</a>
                    </li>
                    <li>
                      <a
                        href="{{ url_for('home.import_vehicle') }}"
                        class="wake"
                        >Import</a
                      >
                    </li>
                    <!-- <li>
                      <a href="{{ url_for('home.blog') }}" class="wake"
                        >News &amp; Reviews</a
                      >
                    </li> -->
                    <li>
                      <a href="{{ url_for('home.contact') }}">Contact Us</a>
                    </li>
                    <!--                    <li class="dropdown has-megamenu">-->
                    <!--                      <a>About</a>-->
                    <!--                      <div class="sub-menu-wrap mega-menu">-->
                    <!--                        <div class="mega-submenu">-->
                    <!--                          <h5>Who We Are</h5>-->
                    <!--                          <ul-->
                    <!--                            style="border-top: 2px solid #fff;margin-right: 2%;margin-left:2%;"-->
                    <!--                          >-->
                    <!--                            <li><a href="#">About Us</a></li>-->
                    <!--                            <li><a href="#">Services</a></li>-->
                    <!--                            <li><a href="#">Why Gigi Motors</a></li>-->
                    <!--                          </ul>-->
                    <!--                        </div>-->
                    <!--                        <div class="mega-submenu">-->
                    <!--                          <h5>Other Services</h5>-->
                    <!--                          <ul-->
                    <!--                            style="border-top: 2px solid #fff;margin-right: 2%;margin-left:2%;"-->
                    <!--                          >-->
                    <!--                            <li><a href="#">Trade In</a></li>-->
                    <!--                            <li><a href="#">Finance</a></li>-->
                    <!--                            <li><a href="#">Insurance</a></li>-->
                    <!--                            <li><a href="#">Partners</a></li>-->
                    <!--                          </ul>-->
                    <!--                        </div>-->
                    <!--                        <div class="mega-submenu">-->
                    <!--                          <h5>More</h5>-->
                    <!--                          <ul-->
                    <!--                            style="border-top: 2px solid #fff;margin-right: 2%;"-->
                    <!--                          >-->
                    <!--                            <li>-->
                    <!--                              <a href="{{ url_for('home.contact') }}"-->
                    <!--                                >Contact Us</a-->
                    <!--                              >-->
                    <!--                            </li>-->
                    <!--                            <li>-->
                    <!--                              <a-->
                    <!--                                href="https://goo.gl/maps/wnEMPBVSiBwUUKJ6A"-->
                    <!--                                target="_blank"-->
                    <!--                                >Find Us</a-->
                    <!--                              >-->
                    <!--                            </li>-->
                    <!--                            <li><a href="#">FAQs</a></li>-->
                    <!--                          </ul>-->
                    <!--                        </div>-->
                    <!--                      </div>-->
                    <!--                    </li>-->
                  </ul>
                </nav>

                <!-- - - - - - - - - - - - - end Navigation - - - - - - - - - - - - - - - -->
              </div>
            </div>
          </div>
        </div>

        <!--main menu-->

        <div class="menu-holder">
          <div class="container">
            <div class="menu-wrap">
              <div class="nav-item"></div>
            </div>
          </div>
        </div>
      </header>

      <!-- - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - -->

      {% block content %} {% endblock content %} {% block footer %}
      <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

      <footer id="footer" class="footer-4">
        <!-- Top footer -->
        <div class="top-footer">
          <div class="container extra">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="widget">
                  <h5 class="widget-title">About Us</h5>
                  <p>
                    Gigi Motors is a pioneer among the dealerships in the Kenyan
                    used car market. We have been dedicated to providing our
                    clients both private and corporate with premium quality new
                    & used cars for over 18 years.
                  </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="widget">
                  <h5 class="widget-title">Company</h5>
                  <ul class="info-links">
                    <li><a href="{{ url_for('home.legal') }}" target="__blank">Privacy Policy</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">News &amp; Tips</a></li>
                    <li><a href="{{ url_for('home.contact') }}">Contact</a></li>
                    <li><a href="#">FAQs</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                <div class="widget">
                  <h5 class="widget-title">Browse</h5>
                  <ul class="info-links">
                    <li>
                      <a href="{{ url_for('home.inventory') }}"
                        >View Inventory</a
                      >
                    </li>
                    <li><a href="#">New Stock</a></li>
                    <li>
                      <a href="{{ url_for('home.import_vehicle') }}">Import</a>
                    </li>
                    <li><a href="/trade-in">Trade In</a></li>
                  </ul>
                </div>
              </div>
              <!-- <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                <div class="widget">
                  <h5 class="widget-title">Advice</h5>
                  <ul class="info-links">
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Guides</a></li>
                  </ul>
                </div>
              </div> -->
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                <div class="widget">
                  <h5 class="widget-title">Locations</h5>
                  <ul class="info-links">
                    <li>
                      <a
                        href="https://goo.gl/maps/wnEMPBVSiBwUUKJ6A"
                        target="_blank"
                      >
                        Hurlingham, Near Four Points by Sheraton Hotel, Argwings
                        Kodhek Road, Nairobi.</a
                      >
                    </li>
                    <!-- <li style="margin-top: 7%;">
                      <a
                        href="https://goo.gl/maps/wnEMPBVSiBwUUKJ6A"
                        target="_blank"
                        >Thika Road Mall, 2ND Floor, Next to Housing Finance.</a
                      >
                    </li> -->
                  </ul>
                  <ul class="social-icons s-i" style="padding-top: 10px">
                    <li style="font-size: 21px">
                      <a
                        href="https://www.facebook.com/GigiMotorsKenya"
                        target="__blank"
                        ><i class="icon-facebook"></i
                      ></a>
                    </li>
                    <li style="font-size: 21px">
                      <a href="https://twitter.com/gigimotors" target="__blank"
                        ><i class="icon-twitter"></i
                      ></a>
                    </li>
                    <li style="font-size: 21px">
                      <a
                        href="https://www.youtube.com/channel/UChQ9NBGjcQUiYlcEqHtJCpA/"
                        target="__blank"
                        ><i class="icon-youtube-play"></i
                      ></a>
                    </li>
                    <li style="font-size: 21px">
                      <a
                        href="https://www.instagram.com/gigimotors_ke/"
                        target="__blank"
                        ><i class="icon-instagram-5"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Copyright -->
        <div class="copyright-section">
          <div class="container">
            <div class="copyright align-center">
              Copyright Gigi Motors Limited © 2020. All Rights Reserved.
              Designed by
              <a style="color: #ff0000" href="http://simplyvivid.co.ke/"
                >Simply Vivid Media</a
              >
            </div>
          </div>
        </div>
      </footer>

      <!-- - - - - - - - - - - - - end Footer - - - - - - - - - - - - - - - -->
      {% endblock footer %}
    </div>

    <!-- - - - - - - - - - - - end Wrapper - - - - - - - - - - - - - - -->

    <!-- JS Libs & Plugins
    ============================================ -->
    <script src="https://kit.fontawesome.com/642f8f3b1d.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='home/js/libs/jquery.modernizr.js') }}"></script>
    <script src="{{ url_for('static', filename='home/js/libs/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='home/js/libs/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='home/js/libs/retina.min.js') }}"></script>
    <script src="{{ url_for('static', filename='home/plugins/mad.customselect.js') }}"></script>
    <script src="{{ url_for('static', filename='home/plugins/sticky-sidebar.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=') }}"></script>
    <script src="{{ url_for('static', filename='home/plugins/jquery.queryloader2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='home/plugins/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='home/plugins/fancybox/jquery.fancybox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='home/plugins/instafeed.min.js') }}"></script>
    <script src="{{ url_for('static', filename='home/plugins/twitter/jquery.tweet.js') }}"></script>

    <!-- JS theme files
    ============================================ -->
    <script src="{{ url_for('static', filename='home/js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='home/js/script.js') }}"></script>

    {{ moment.include_moment() }} {{ moment.lang(g.locale) }} {% block scripts
    %} {% endblock %}
  </body>
</html>
