{% extends 'home/home_base.html' %} {% block content %}
<div
  class="media-holder type-2"
  data-bg="{{ url_for('static', filename='home/images/at.png') }}"
  style="margin-top: 0;"
>
  <div class="container">
    <div class="tabs type-2 style-3 tabs-section clearfix">
      <!--tabs navigation-->
      <ul class="tabs-nav clearfix">
        <li class="">
          <a href="#tab-1">Find a Car</a>
        </li>
      </ul>
      <!--tabs content-->
      <div class="tabs-content">
        <form method="get" action="{{ url_for('home.inventory') }}">
          <div id="tab-1">
            <div class="select-area tab-col-2">
              <div class="select-col" style="width:100%;">
                <div class="auto-custom-select">
                  {{ form.make() }}
                </div>
              </div>
              <div class="select-col" style="width:100%;">
                <div class="auto-custom-select1">
                  {{ form.model(class="auto-selected-option") }}
                </div>
              </div>
            </div>
            <div class="select-area tab-col-2">
              <div class="select-col">
                <div class="auto-custom-select">
                  {{ form.year_from() }}
                </div>
              </div>
              <div class="select-col">
                <div class="auto-custom-select">
                  {{ form.year_to() }}
                </div>
              </div>
            </div>

            <div class="select-area tab-col-2">
              <div class="select-col">
                <div class="auto-custom-select">
                  {{ form.transmission() }}
                </div>
              </div>

              <div class="select-col">
                <div class="auto-custom-select">
                  {{ form.fuel() }}
                </div>
              </div>

              <div class="select-col" style="width: 100%">
                <button type="submit" class="btn btn-style-3">
                  <i class="licon-magnifier"></i>Search
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="products-holder">
          <h4 class="section-title" style="padding: 40px 57px 0;">
            Featured Cars
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section-bg psb1">
    <div class="row flex-row">
      {% for vehicle in featured_vehicles %}
      <div class="col-md-3 col-xs-6 mb-4">
        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
        <div class="product">
          <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
          <a href="{{ url_for('home.view_car', id=vehicle.id) }}"
            ><img
              src="{% if vehicle.image_url %}
                                            {{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.image_url))}}
                                       {% else %}
                                            {{ url_for('static', filename='home/images/262x173_img3.jpg')}}
                                       {% endif %}"
              alt=""
          /></a>

          <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

          <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
          <div class="product-description">
            <h5 class="product-name">
              <a href="{{ url_for('home.view_car', id=vehicle.id) }}"
                >{{vehicle.name}}</a
              >
            </h5>

            <div class="pricing-area">
              <div class="product-price">
               {{'KSh {:,}'.format(vehicle.price)}}
              </div>
            </div>
            <div class="model-loc">
              <ul>
                <li><span>Year of Make</span> {{vehicle.year}}</li>
                <li>
                  <span>Engine Size</span> {% if vehicle.engine_size %}
                  {{vehicle.engine_size}} {% else %} N/A {% endif %} cc
                </li>
                <li>
                  <span>Engine Type</span> {% if vehicle.fuel_type_id==1 %}
                  Petrol {% elif vehicle.fuel_type_id==2 %} Diesel {% else %}
                  N/A {% endif %}
                </li>
                <li>
                  <span>Transmission</span> {% if vehicle.transmission_id==1 %}
                  Manual {% elif vehicle.transmission_id==2 %} Automatic {% else
                  %} N/A {% endif %}
                </li>
              </ul>
            </div>
          </div>
          <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container" style="margin-top: -4%;">
    <div class="row">
      <div class="align-center">
        <a href="{{ url_for('home.inventory') }}" class="btn">View All Stock</a>
      </div>
    </div>
  </div>

  <div class="page-section-bg psb3">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="products-holder">
            <h3 class="section-title">Browse Inventory By</h3>
            <div class="tabs tabs-section style-2 clearfix">
              <!--tabs navigation-->
              <ul class="tabs-nav clearfix">
                <li>
                  <a href="#tab-5">Body Type</a>
                </li>
                <li>
                  <a href="#tab-6">Make</a>
                </li>
                <!-- <li>
                  <a href="#tab-7">Price</a>
                </li> -->
              </ul>
              <!--tabs content-->
              <div class="tabs-content">
                <div id="tab-5">
                  <div class="row flex-row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                      <div class="product">
                        <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                        <a href="/buy_a_car?body_type=Saloon"
                          ><img
                            src="{{ url_for('static', filename='home/images/sedan.png') }}"
                            alt=""
                        /></a>
                        <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                        <div class="product-description align-center">
                          <h6 class="product-name"><a href="/buy_a_car?body_type=Saloon">Saloons</a></h6>
                        </div>
                        <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->
                      </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                      <div class="product">
                        <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                        <a href="/buy_a_car?body_type=SUV"
                          ><img
                            src="{{ url_for('static', filename='home/images/SUVs.png') }}"
                            alt=""
                        /></a>
                        <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                        <div class="product-description align-center">
                          <h6 class="product-name"><a href="/buy_a_car?body_type=SUV">SUVs</a></h6>
                        </div>
                        <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->
                      </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                      <div class="product">
                        <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                        <a href="/buy_a_car?body_type=Pickup"
                          ><img
                            src="{{ url_for('static', filename='home/images/trucks.png') }}"
                            alt=""
                        /></a>
                        <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                        <div class="product-description align-center">
                          <h6 class="product-name"><a href="/buy_a_car?body_type=Pickup">Pickups</a></h6>
                        </div>
                        <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->
                      </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                      <div class="product">
                        <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                        <a href="#"
                          ><img
                            src="{{ url_for('static', filename='home/images/hatchbacks.png') }}"
                            alt=""
                        /></a>
                        <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                        <div class="product-description align-center">
                          <h6 class="product-name">
                            <a href="/buy_a_car?body_type=Hatchback">Hatchbacks</a>
                          </h6>
                        </div>
                        <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->
                      </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                      <div class="product">
                        <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                        <a href="/buy_a_car?body_type=Wagon"
                          ><img
                            src="{{ url_for('static', filename='home/images/wagons.png') }}"
                            alt=""
                        /></a>
                        <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                        <div class="product-description align-center">
                          <h6 class="product-name"><a href="/buy_a_car?body_type=Wagon">Wagons</a></h6>
                        </div>
                        <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->
                      </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                      <div class="product">
                        <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                        <a href="/buy_a_car?body_type=Minivan/Bus"
                          ><img
                            src="{{ url_for('static', filename='home/images/minivans.png') }}"
                            alt=""
                        /></a>
                        <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                        <div class="product-description align-center">
                          <h6 class="product-name"><a href="/buy_a_car?body_type=Minivan/Bus">Minivans/Buses</a></h6>
                        </div>
                        <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->
                      </div>
                    </div>
                  </div>
                </div>
                <div id="tab-6">
                  <div class="row">
                    {% for make in car_makes %}
                      <div class="col-sm-3">
                        <ul class="custom-list type-5">
                          <li><a href="/buy_a_car?make={{make.id}}">{{ make.name }}</a></li>
                        </ul>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <!-- <div id="tab-7">
                  <div class="row">
                    <div class="col-sm-3">
                      <ul class="custom-list type-5">
                        <li><a href="#">Less than KES 1,000,000</a></li>
                        <li><a href="#">KES1,000,001-KES1,500,000</a></li>
                        <li><a href="#">KES1,500,001-KES2,000,000</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3">
                      <ul class="custom-list type-5">
                        <li><a href="#">KES2,000,001-KES3,000,000</a></li>
                        <li><a href="#">KES3,000,001-KES4,000,000</a></li>
                        <li><a href="#">KES4,000,001-KES5,000,000</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3">
                      <ul class="custom-list type-5">
                        <li><a href="#">KES5,000,001 - KES10,000,000</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3">
                      <ul class="custom-list type-5">
                        <li><a href="#">More than KES10,000,000</a></li>
                      </ul>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="align-center">
            <a href="#"><img src="" alt=""/></a>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  <div class="page-section-bg psb1">-->
<!--    <div class="container">-->
<!--      <h4 class="section-title">Latest Posts</h4>-->

<!--      <div class="review-section">-->
<!--        <div class="row">-->
<!--          <div class="col-md-6">-->
<!--            <article class="entry review-item">-->
<!--              &lt;!&ndash; - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--              <div class="entry-attachment">-->
<!--                <figure class="thumbnail-attachment">-->
<!--                  <img-->
<!--                    src="{{ url_for('static', filename='home/images/555x377_img2.jpg')}}"-->
<!--                    alt=""-->
<!--                  />-->
<!--                </figure>-->
<!--              </div>-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--              <div class="entry-body">-->
<!--                &lt;!&ndash; - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--                <div class="entry-meta">-->
<!--                  <time class="entry-date" datetime="2018-10-28"-->
<!--                    >October 28, 2019</time-->
<!--                  >-->
<!--                </div>-->

<!--                &lt;!&ndash; - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--                <h4 class="entry-title">-->
<!--                  <a href="#">Aliquam Dapibus Tincidunt Metus</a>-->
<!--                </h4>-->

<!--                &lt;!&ndash; - - - - - - - - - - - - - Entry Excerpt - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--                <div class="entry-content">-->
<!--                  <p>-->
<!--                    Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac-->
<!--                    turpis. Integer rutrum ante eu lacus. Vestibulum libero-->
<!--                    nisl, porta vel, scelerisque eget.-->
<!--                    <a href="#" class="info-btn">Read More</a>-->
<!--                  </p>-->
<!--                </div>-->

<!--                &lt;!&ndash; - - - - - - - - - - - - - End of Entry Excerpt - - - - - - - - - - - - - - - - &ndash;&gt;-->
<!--              </div>-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - &ndash;&gt;-->
<!--            </article>-->
<!--          </div>-->
<!--          <div class="col-md-6">-->
<!--            <article class="entry review-item">-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--              <div class="entry-attachment">-->
<!--                <figure class="thumbnail-attachment">-->
<!--                  <img-->
<!--                    src="{{ url_for('static', filename='home/images/555x377_img1.jpg')}}"-->
<!--                    alt=""-->
<!--                  />-->
<!--                </figure>-->
<!--              </div>-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--              <div class="entry-body">-->
<!--                &lt;!&ndash; - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--                <div class="entry-meta">-->
<!--                  <time class="entry-date" datetime="2018-10-27"-->
<!--                    >October 27, 2018</time-->
<!--                  >-->
<!--                </div>-->

<!--                &lt;!&ndash; - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--                <h4 class="entry-title">-->
<!--                  <a href="#">Vestibulum Ante Ipsum</a>-->
<!--                </h4>-->

<!--                &lt;!&ndash; - - - - - - - - - - - - - Entry Excerpt - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--                <div class="entry-content">-->
<!--                  <p>-->
<!--                    Vivamus eget nibh. Etiam cursus leo vel metus. Nulla-->
<!--                    facilisi. Aenean nec eros. Vestibulum ante ipsum primis in-->
<!--                    faucibus orci luctus.-->
<!--                    <a href="#" class="info-btn">Read More</a>-->
<!--                  </p>-->
<!--                </div>-->

<!--                &lt;!&ndash; - - - - - - - - - - - - - End of Entry Excerpt - - - - - - - - - - - - - - - - &ndash;&gt;-->
<!--              </div>-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - &ndash;&gt;-->
<!--            </article>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-4 col-sm-6">-->
<!--            <article class="entry review-item">-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--              <div class="entry-attachment">-->
<!--                <figure class="thumbnail-attachment">-->
<!--                  <img-->
<!--                    src="{{ url_for('static', filename='home/images/360x240_img1.jpg')}}"-->
<!--                    alt=""-->
<!--                  />-->
<!--                </figure>-->
<!--              </div>-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--              <div class="entry-body">-->
<!--                &lt;!&ndash; - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--                <div class="entry-meta">-->
<!--                  <time class="entry-date" datetime="2018-10-26"-->
<!--                    >October 26, 2018</time-->
<!--                  >-->
<!--                </div>-->

<!--                &lt;!&ndash; - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--                <h5 class="entry-title">-->
<!--                  <a href="#">Mauris Fermentum Dictum Magna</a>-->
<!--                </h5>-->
<!--              </div>-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - &ndash;&gt;-->
<!--            </article>-->
<!--          </div>-->
<!--          <div class="col-md-4 col-sm-6">-->
<!--            <article class="entry review-item">-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--              <div class="entry-attachment">-->
<!--                <figure class="thumbnail-attachment">-->
<!--                  <img-->
<!--                    src="{{ url_for('static', filename='home/images/360x240_img2.jpg')}}"-->
<!--                    alt=""-->
<!--                  />-->
<!--                </figure>-->
<!--              </div>-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--              <div class="entry-body">-->
<!--                &lt;!&ndash; - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--                <div class="entry-meta">-->
<!--                  <time class="entry-date" datetime="2018-10-14"-->
<!--                    >October 14, 2018</time-->
<!--                  >-->
<!--                </div>-->

<!--                &lt;!&ndash; - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--                <h5 class="entry-title">-->
<!--                  <a href="#">Mauris Fermentum Dictum Magna</a>-->
<!--                </h5>-->
<!--              </div>-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - &ndash;&gt;-->
<!--            </article>-->
<!--          </div>-->
<!--          <div class="col-md-4 col-sm-6">-->
<!--            <article class="entry review-item">-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--              <div class="entry-attachment">-->
<!--                <figure class="thumbnail-attachment">-->
<!--                  <img-->
<!--                    src="{{ url_for('static', filename='home/images/360x240_img6.jpg')}}"-->
<!--                    alt=""-->
<!--                  />-->
<!--                </figure>-->
<!--              </div>-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--              <div class="entry-body">-->
<!--                &lt;!&ndash; - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--                <div class="entry-meta">-->
<!--                  <time class="entry-date" datetime="2016-10-07"-->
<!--                    >October 7, 2018</time-->
<!--                  >-->
<!--                </div>-->

<!--                &lt;!&ndash; - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--                <h5 class="entry-title">-->
<!--                  <a href="#">Neque Porro Quisquam </a>-->
<!--                </h5>-->
<!--              </div>-->

<!--              &lt;!&ndash; - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - &ndash;&gt;-->
<!--            </article>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="align-center">-->
<!--        <a href="#" class="btn">More From Gigi Motors</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>

<!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->
{% endblock content %}
{% block scripts %}
<script>
  $(document).ready(function() {
    var dropdown = {
        make: $('#car-makes'),
        model:$('#car-models')
    };

    updateModel();

  function updateModel() {
      var send = {
          make_id: dropdown.make.val()
      };
      dropdown.model.attr('disabled', 'disabled');
      dropdown.model.empty();
      dropdown.model.append(
          $('<option>', {
              value: '',
              text: '--All models--'
          })
      );
      $.getJSON("{{ url_for('admin._get_model') }}", send, function(data) {
          data.forEach(function(item) {
              dropdown.model.append(
                  $('<option>', {
                      value: item[0],
                      text: item[1]
                  })
              );
          });
          dropdown.model.removeAttr('disabled');

      });
  }
  dropdown.make.change(function() {
      updateModel();

  });
});
</script>
{% endblock %}
