{% extends 'home/home_base.html' %}
{% block custom_head_tags %}
{{ super() }}
  <style>
  #content{border-top: 1px solid #ccc;}
  .breadcrumbs > li:not(:first-child):before {
    color: #000;
}
.breadcrumbs-wrap {
    padding: 35px 0;
}
.breadcrumbs-wrap .breadcrumbs > li > a{
    color:  #31353c;;
}
.breadcrumbs-wrap .breadcrumbs > li > a:hover{
    color: #da1919;
    border-color: #000;
}
  </style>
{% endblock %}
{% block content %}

<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

    <div id="content" class="page-content-wrap" style="padding-top: 0px;">
      <div class="breadcrumbs-wrap">

        <div class="container">
          <ul class="breadcrumbs" style="color: #31353c;">

            <li style="color: #31353c;"><a href="{{ url_for('home.index') }}">Home</a></li>
            <li style="color: #31353c;">Buy a Car</li>

          </ul>

        </div>

      </div>


      <div class="container">

        <div class="row">

          <aside id="sidebar" class="sbl style-2 col-md-3 col-sm-12">

            <div class="filter-section">
              <div class="accordion toggle">


                <div class="accordion-item">
                  <h5>Filter</h5>
                </div>

              </div>

              <form id="form" method="get">

                <div class="accordion toggle">


                  <div class="accordion-item">
                    <h6 class="a-title active">Make</h6>
                    <div class="a-content">
                      {% for make in makes %}
                      <div class="input-wrapper">
                        <input type="checkbox" class="make" id="mak{{ make[0] }}" value="{{ make[0] }}" >
                        <label for="mak{{ make[0] }}">{{ make[1] }}</label>
                      </div>
                      {% endfor %}
  
                    </div>
                  </div>
  
                </div>
  
                <div class="accordion toggle">
  
  
                  <div class="accordion-item">
                    <h6 class="a-title">Model</h6>
                    <div id="model-container" class="a-content">
  
                    </div>
                  </div>
  
                </div> 

                <div class="accordion toggle">


                  <div class="accordion-item">
                    <h6 class="a-title active">Price</h6>
                    <div class="a-content">
  
                      <!--price-->
                      <fieldset class="price-scale">
                        <div class="clearfix range-values">
                          <input id="min_price" class="f-left first-limit" readonly type="text" value="{{  'Ksh {:,.0f}'.format(min_price) }}">
                          <input id="max_price" class="f-right last-limit" readonly type="text" value="{{  'Ksh {:,.0f}'.format(max_price) }}">
                        </div>
                        <div id="price"></div>
                      </fieldset>
  
                    </div>
                  </div>
  
                </div>

              <div class="accordion toggle">


                <div class="accordion-item">
                  <h6 class="a-title">Year</h6>
                  <div class="a-content">

                    {% for year in years %}
                    <div class="input-wrapper">
                      <input type="checkbox" name="year" class="year" id="{{ year }}" value="{{ year }}">
                      <label for="{{ year }}">{{ year }}</label>
                    </div>
                    {% endfor %}

                  </div>
                </div>

              </div>

              <div class="accordion toggle">


                <div class="accordion-item">
                  <h6 class="a-title">Mileage</h6>
                  <div class="a-content">
                      <div class="auto-custom-select">
                        <select data-default-text="Any">
                          <option value="menu">Below 50k</option>
                          <option value="menu">Below 70k</option>
                          <option value="menu">Below 100k</option>
                          <option value="menu">Below 150k</option>
                        </select>
                      </div>
                  </div>
                </div>

              </div>

              <div class="accordion toggle">
                <div class="accordion-item">
                  <h6 class="a-title">Body Style</h6>
                  <div class="a-content">

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-35" id="checkbox-35" checked="">
                      <label for="checkbox-35">Any</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-36" class="bodytype" id="checkbox-36" value="Saloon">
                      <label for="checkbox-36">Saloon</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-37" class="bodytype" id="checkbox-37" value="SUV">
                      <label for="checkbox-37">SUV</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-38" class="bodytype" id="checkbox-38" value="Pickup">
                      <label for="checkbox-38">Pickup</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-39" class="bodytype" id="checkbox-39" value="Hatchback">
                      <label for="checkbox-39">Hatchback</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-30" class="bodytype" id="checkbox-40" value="Wagon">
                      <label for="checkbox-40">Wagon</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-41" class="bodytype" id="checkbox-41" value="Minibus/Van">
                      <label for="checkbox-41">Minibus/Van </label>

                    </div>
                  </div>
                </div>

              </div>

              <div class="accordion toggle">


                <div class="accordion-item">
                  <h6 class="a-title">Drive terrain</h6>
                  <div class="a-content">

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-45" id="checkbox-45" checked="">
                      <label for="checkbox-45">Any</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-46" id="checkbox-46">
                      <label for="checkbox-46">4x2/2-wheel drive </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-47" id="checkbox-47">
                      <label for="checkbox-47">4x4/4-wheel drive</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-48" id="checkbox-48">
                      <label for="checkbox-48">AWD</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-49" id="checkbox-49">
                      <label for="checkbox-49">FWD</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-50" id="checkbox-50">
                      <label for="checkbox-50">RWD</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-51" id="checkbox-51">
                      <label for="checkbox-51">Unknown</label>

                    </div>

                  </div>
                </div>

              </div>

              <div class="accordion toggle">


                <div class="accordion-item">
                  <h6 class="a-title">Transmission</h6>
                  <div class="a-content">

                    {% for transmission in transmissions %}
                    <div class="input-wrapper">
                      <input type="checkbox" class="transmission" id="trans{{ transmission[0] }}" value="{{ transmission[0] }}" >
                      <label for="trans{{ transmission[0] }}">{{ transmission[1] }}</label>
                    </div>

                    {% endfor %}
                  </div>
                </div>

              </div>

              <div class="accordion toggle">


                <div class="accordion-item">
                  <h6 class="a-title">Exterior Color</h6>
                  <div class="a-content">

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-58" id="checkbox-58" checked="">
                      <label for="checkbox-58">Any</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-59" id="checkbox-59">
                      <label for="checkbox-59">Beige</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-60" id="checkbox-60">
                      <label for="checkbox-60">Black</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-61" id="checkbox-61">
                      <label for="checkbox-61">Blue</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-62" id="checkbox-62">
                      <label for="checkbox-62">Brown </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-63" id="checkbox-63">
                      <label for="checkbox-63">Gold </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-64" id="checkbox-64">
                      <label for="checkbox-64">Gray </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-65" id="checkbox-65">
                      <label for="checkbox-65">Green </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-66" id="checkbox-66">
                      <label for="checkbox-66">Red </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-67" id="checkbox-67">
                      <label for="checkbox-67">Yellow </label>

                    </div>

                  </div>
                </div>

              </div>

              <div class="accordion toggle">


                <div class="accordion-item">
                  <h6 class="a-title">Interior Color</h6>
                  <div class="a-content">

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-68" id="checkbox-68" checked="">
                      <label for="checkbox-68">Any</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-69" id="checkbox-69">
                      <label for="checkbox-69">Beige</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-70" id="checkbox-70">
                      <label for="checkbox-70">Black</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-71" id="checkbox-71">
                      <label for="checkbox-71">Blue</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-72" id="checkbox-72">
                      <label for="checkbox-72">Brown </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-73" id="checkbox-73">
                      <label for="checkbox-73">Gold </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-74" id="checkbox-74">
                      <label for="checkbox-74">Gray </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-75" id="checkbox-75">
                      <label for="checkbox-75">Green </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-76" id="checkbox-76">
                      <label for="checkbox-76">Red </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-77" id="checkbox-77">
                      <label for="checkbox-77">Yellow </label>

                    </div>

                  </div>
                </div>

              </div>

              <div class="accordion toggle">


                <div class="accordion-item">
                  <h6 class="a-title active">Keywords</h6>
                  <div class="a-content">

                      <input type="text" placeholder="Additional keywords">

                  </div>
                </div>

              </div>
            </form>

            </div>

          </aside>
          <main id="main" class="col-md-9 col-sm-12">
            {% include('home/_inventory.html') %}

          </main>

        </div>
      </div>
    </div>

{% endblock %}

{% block scripts %}
  <script>


  $(document).ready(function() {
    var csrftoken = "{{ csrf_token() }}"
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken)
              }
          }
        })

    var data = {
      years:[],
      makes: [],
      models: [],
      transmissions: [],
      bodyTypes: [],
      min_price: parseNumber($('#min_price').val()),
      max_price: parseNumber($('#max_price').val())
    }

    $( ".year").on( "click",function() {
      if ($(this).prop('checked')) {
        data.years.push(parseInt($(this).val()));
      } else {
        selectedYear = parseInt($(this).val())
        data.years = data.years.filter(function(year) { return year !== selectedYear })
      }
      getData();
    });

    $( ".make").on( "click",function() {
      selectedMake = $(this).val()
      if ($(this).prop('checked')) {
        data.makes.push(selectedMake);
      } else {

        data.makes = data.makes.filter(function(make) { return make !== selectedMake })
      }
      getData();
      updateModel();
    });

    $( ".model").on( "click",function() {
      selected = $(this).val()
      if ($(this).prop('checked')) {
        data.models.push(selected);
      } else {

        data.models = data.models.filter(function(model) { return model !== selected })
      }
      getData();
    });

    $( ".bodytype").on( "click",function() {
      selectedBodyType = $(this).val()
      if ($(this).prop('checked')) {
        data.bodyTypes.push(selectedBodyType);
      } else {

        data.bodyTypes = data.bodyTypes.filter(function(bodyType) { return bodyType !== selectedBodyType })
      }
      getData();
    });

    $( ".transmission").on( "click",function() {
      selected = $(this).val()
      if ($(this).prop('checked')) {
        data.transmissions.push(selected);
      } else {

        data.transmissions = data.transmissions.filter(function(transmission) { return transmission !== selected })
      }
      getData();
    });

    function parseNumber(str) {
      return parseInt(str.replace(/[^\d\.\-eE+]/g, ""));
    }

      $("#price").on("slidestop", function(event, ui) {
        data.min_price = parseNumber($('#min_price').val());
        data.max_price = parseNumber($('#max_price').val());
        getData();
      });

    function getData() {
      $.ajax({
        url: "{{ url_for('home._get_cars') }}",
        method:'POST',
        contentType: 'application/json',
        data:JSON.stringify (data),
        success: function(data) {
          $('#inventory').html(data)
        }
      })
    }

    function updateModel() {
      var send = {
          makes: data.makes
      };
        var container = $('#model-container').empty()
        $.ajax({
          url: "{{ url_for('home._get_models') }}",
          method:'POST',
          contentType: 'application/json',
          data:JSON.stringify (send),
          success: function(data) {
            data.forEach(function(item) {
                container.append(`
                  <div class="input-wrapper">
                    <input type="checkbox" class="model" name="model" id="mod${item[0]}">
                    <label for="mod${item[0]}">${item[1]}</label>
                  </div>
                `);
            });
          }
        })
    }

    var slider;
    if($('#price').length){
      slider = $('#price').slider({
        animate: true,
        range: true,
        values: [ {{ min_price }}, {{ max_price }}],
        min: {{ min_price }},
        max: {{ max_price }},
        slide : function(event ,ui){
          $('.range-values').find('.first-limit').val('Ksh' + Intl.NumberFormat().format(ui.values[0]));
          $('.range-values').find('.last-limit').val('Ksh' + Intl.NumberFormat().format(ui.values[1]));
        }
      });
    }
});
  </script>
{% endblock %}
