{% extends 'layouts/auth_base.html' %}

{% block custom_head_tags %}
{{ super() }}
<!-- CORE CSS-->

{% endblock %}

{% block content %}

<div class="leftHalf" style="background-image: url('')">
    <div class="login-promo-txt">
        <h2>Welcome</h2>
        <p></p>
    </div>
</div>

<div class="rightHalf">
    <div class="position-relative">
        <!--login form-->
        <div class="login-form">
            <h2 class="text-center mb-4">
                <img src="{{ url_for('static', filename='home/images/logo.png') }}"
                     srcset="{{ url_for('static', filename='home/images/logo.png') }} 2x" alt="">
            </h2>
            <h4 class="text-uppercase- text-purple text-center mb-5">Login to Admin</h4>
            <form action="" class="f-login-form" method="POST">
                {{form.hidden_tag()}}
                <div class="form-group">
                    {{form.email(class="form-control")}}
                    {%for error in form.email.errors%}
                    <span>{{error}}</span>
                    {%endfor%}
                </div>
                <div class="form-group mb-4">
                    {{form.password(class="form-control")}}
                    {%for error in form.password.errors%}
                    <span>{{error}}</span>
                    {%endfor%}
                </div>

                <div class="form-group clearfix">
                    <a href="#" class="float-left forgot-link my-2">Forgot Password ?</a>
                    {{form.submit(class="btn btn-purple btn-pill float-right")}}

                </div>

                <div class="form-divider"></div>

                <a href="#" class="btn btn-facebook btn-pill text-uppercase"><i class="fa fa-facebook-square"></i> Login
                    with facebook</a>
                <div class="text-center mt-5">
                    <a href="{{url_for('account.register')}}" class="btn-link text-capitalize f12">Create New Account</a>
                </div>
            </form>
        </div>
        <!--/login form-->
    </div>
</div>

{% endblock %}