{% extends 'home/home_base.html' %}


{% block header %}{% endblock header %}
{% block content %}

<img class="center-image" src="{{ url_for('static', filename='home/img/tour_grid_15.jpg') }}" alt="">

<div class="container">
	<div class="login-fullpage">
		<div class="row">
			<div class="login-logo">
				<img class="center-image" src="{{ url_for('static', filename='home/img/tour_grid_8.jpg') }}" alt="">
			</div>
			<div class="col-xs-12 col-sm-7">
				<div class="f-login-content">
					<div class="f-login-header">
						<div class="f-login-title color-dr-blue-2">Traveller Account</div>
					</div>
					{% with messages = get_flashed_messages(with_categories=True) %}
						{% if messages %}
							{% for category, msg in messages %}
								<div class="alert alert-{{ category }}" role="alert">
									<span class="f-login-desc color-grey">{{ msg }}</span>
								</div>
							{% endfor %}
						{% endif %}
					{% endwith %}
					<div class="tab-wrapper">
						<div class="clearfix">
							<div class="tab-info active">
								<form action="{{url_for('account.register')}}" class="f-login-form" method="POST">
									{{form.hidden_tag()}}
									<div class="input-style-1 b-50 type-2 color-5">
										<label for="" class="pb-1">First Name: </label>
										{{form.first_name()}}

										{%for error in form.first_name.errors%}
										<span>{{error}}</span>
										{%endfor%}
									</div>
									<div class="input-style-1 b-50 type-2 color-5">
										<label for="" class="pb-1">Last Name: </label>
										{{form.last_name()}}

										{%for error in form.last_name.errors%}
											<span>{{error}}</span>
										{%endfor%}
									</div>
									<div class="input-style-1 b-50 type-2 color-5">
										<label for="" class="pb-1">Email: </label>
										{{form.email()}}
										{%for error in form.email.errors%}
										<span>{{error}}</span>
										{%endfor%}
									</div>
									<div class="input-style-1 b-50 type-2 color-5">
										<label for="" class="pb-1">Password: </label>
										{{form.password()}}
										{%for error in form.password.errors%}
											<span>{{error}}</span>
										{%endfor%}
									</div>
									<div class="input-style-1 b-50 type-2 color-5">
										<label for="" class="pb-1">Password Again: </label>
										{{form.password2()}}

										{%for error in form.password2.errors%}
											<span>{{error}}</span>
										{%endfor%}
									</div>
									<div class="checkbox-group">
										<div>
											<p>Already have an account? <a href="{{url_for('account.login')}}" class="color-dr-blue-2">Login.</a></p>
										</div>
									</div>

									{{form.submit(class="login-btn c-button full b-60 bg-dr-blue-2 hv-dr-blue-2-o")}}
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}
