{% extends 'home/home_base.html' %}
{% block custom_head_tags %}
{{ super() }}
  <style>
  .breadcrumbs > li:not(:first-child):before {
    color: #000;
}
.breadcrumbs-wrap {
    padding: 5px 0;
}
.breadcrumbs-wrap .breadcrumbs > li > a{
    color:  #31353c;;
}
.breadcrumbs-wrap .breadcrumbs > li > a:hover{
    color: #da1919;
    border-color: #000;
}
  </style>
{% endblock %}
{% block content %}

<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

    <div id="content">

      <div class="page-section" style="padding-top: 25px;">
        <div class="breadcrumbs-wrap">

        <div class="container">
          <ul class="breadcrumbs" style="color: #31353c;">

            <li style="color: #31353c;"><a href="{{ url_for('home.index') }}">Home</a></li>
            <li style="color: #31353c;"><a href="{{ url_for('home.inventory') }}">View All Cars</a></li>
            <li style="color: #31353c;">Single Car</li>

          </ul>

        </div>

      </div>
        <div class="container">
          <div class="share-section flex-row flex-justify flex-center">

            <a href="{{ url_for('home.inventory') }}" class="link-text2"><i class="icon-reply-4"></i>Back to Results</a>

            <div class="share-list flex-row flex-center">

              <span>Share</span>
              <ul>
                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.url }}" target="__blank" class="sh-facebook"><i class="icon-facebook"></i></a></li>
                <li><a href="https://twitter.com/share?url={{ request.url }}" target="__blank" class="sh-twitter"><i class="icon-twitter"></i></a></li>
                <!-- <li><a href="#" class="sh-google"><i class="icon-gplus"></i></a></li>
                <li><a href="#" class="sh-instagram"><i class="icon-instagram"></i></a></li>
                <li><a href="#"><i class="icon-print-6"></i></a></li> -->
              </ul>

            </div>

          </div>
          <div class="row">
            <main id="main" class="col-md-8">

              <div class="single-product-section">

                <div class="single-product-title">

                  <h2 class="section-title">{{vehicle.name}}</h2>
                  <div class="flex-row flex-justify">
                    <div class="product-price" style="color: #da1919;">
                      {{'KSh {:,}'.format(vehicle.price)}}

                    </div>
<!--                    <div class="slash-list">-->
<!--                      <a href="#" class="link-text2"><i class="licon-heart"></i>Wishlist </a>-->
<!--                      <a href="#" class="link-text2"><i class="licon-copy"></i>Compare </a>-->
<!--                    </div>-->
                  </div>

                </div>

                <div class="content-element3">

                  <div class="carousel-type-4 type-2">

                    <div class="carousel-tabs">

                      <div id="tab1" class="tab-cont current">

                        <div class="owl-carousel" id="sync-carousel-1" data-max-items="1">

                          <div class="item-carousel">
                            <a href="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.image_url))}}" class="fancybox" data-fancybox="group">
                                <img src="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.image_url))}}" alt="">
                            </a>
                          </div>

                          <div class="item-carousel">
                            <a href="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.back_image_url))}}" class="fancybox" data-fancybox="group">
                                <img src="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.back_image_url))}}" alt=""></a>
                          </div>

                          <div class="item-carousel">
                            <a href="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.right_image_url))}}" class="fancybox" data-fancybox="group">
                                <img src="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.right_image_url))}}" alt="">
                            </a>
                          </div>

                          <div class="item-carousel">
                            <a href="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.left_image_url))}}" class="fancybox" data-fancybox="group">
                                <img src="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.left_image_url))}}" alt=""></a>
                          </div>

                          <div class="item-carousel">
                            <a href="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.interior_image_url))}}" class="fancybox" data-fancybox="group">
                                <img src="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.interior_image_url))}}" alt=""></a>
                          </div>

                          <div class="item-carousel">
                            <a href="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.dash_image_url))}}" class="fancybox" data-fancybox="group">
                                <img src="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.dash_image_url))}}" alt=""></a>
                          </div>
                          {% if vehicle.extra_images_url %}
                          {% for image in vehicle.extra_images_url.split() %}
                          <div class="item-carousel">
                            <a href="{{ url_for('static', filename='ckeditor_uploads/{}'.format(image))}}" class="fancybox" data-fancybox="group">
                                <img src="{{ url_for('static', filename='ckeditor_uploads/{}'.format(image))}}" alt=""></a>
                          </div>
                          {% endfor %}
                          {% endif %}
                        </div>

                      </div>
                      <div id="tab2" class="tab-cont">

                        <div class="responsive-iframe">

                          <iframe src=""></iframe>

                        </div>

                      </div>


                    </div>

                    <div class="tabs tabs-section style-2 clearfix">
                      <!--tabs navigation-->
                      <ul class="tabs-nav clearfix">
                        <li data-tab="tab1">
                          <a href="#tab-1"><span class="licon-camera2"></span>Photos</a>
                        </li>


                      </ul>
                      <!--tabs content-->
                      <div class="tabs-content">
                        <div id="tab-1">

                          <!-- - - - - - - - - - - - - - Carousel Pagination - - - - - - - - - - - - - - - - -->

                          <div class="owl-carousel type-small" data-sync="#sync-carousel-1" data-max-items="5" data-item-margin="20">

                            <!-- Carousel Item -->

                            <div class="item-carousel">
                              <img src="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.front_image_url))}}" alt="">
                            </div>

                            <!-- Carousel Item -->

                            <!-- Carousel Item -->

                            <div class="item-carousel">
                              <img src="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.back_image_url))}}" alt="">
                            </div>

                            <!-- Carousel Item -->

                            <!-- Carousel Item -->

                            <div class="item-carousel">
                              <img src="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.right_image_url))}}" alt="">
                            </div>

                            <!-- Carousel Item -->

                            <!-- Carousel Item -->

                            <div class="item-carousel">
                              <img src="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.left_image_url))}}" alt="">
                            </div>

                            <!-- Carousel Item -->

                            <!-- Carousel Item -->

                            <div class="item-carousel">
                              <img src="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.interior_image_url))}}" alt="">
                            </div>

                            <!-- Carousel Item -->

                            <!-- Carousel Item -->

                            <div class="item-carousel">
                              <img src="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.dash_image_url))}}" alt="">
                            </div>

                            {% if vehicle.extra_images_url %}
                            {% for image in vehicle.extra_images_url.split() %}
                              <div class="item-carousel">
                                <img src="{{ url_for('static', filename='ckeditor_uploads/{}'.format(image))}}" alt="">
                              </div>
                            {% endfor %}
                            {% endif %}

                            <!-- Carousel Item -->

                          </div>

                          <!-- - - - - - - - - - - - - - End of Carousel Pagination - - - - - - - - - - - - - - - - -->

                        </div>


                      </div>
                    </div>

                  </div>

                </div>

                <div class="content-element3">

                  <h4><b>Overview</b></h4>
                  <ul class="car-detail-list">
                    <li class="flex-row flex-justify">

                      <div class="detail-col">
                        <span>Mileage</span><span>{{vehicle.mileage}} km</span>
                      </div>
                      <div class="detail-col">
                        <span>Fuel</span><span>{{car_fuel_type.type}}</span>
                      </div>

                    </li>
                    <li class="flex-row flex-justify">

                      <div class="detail-col">
                        <span>Year</span><span>{{vehicle.year}}</span>
                      </div>
                      <div class="detail-col">
                        <span>Make</span><span>{{vehicle.make.name}}</span>
                      </div>

                    </li>
                    <li class="flex-row flex-justify">

                      <div class="detail-col">
                        <span>Model</span><span>{{vehicle.model.name}}</span>
                      </div>
                      <div class="detail-col">
                        <span>Engine</span><span>{{vehicle.engine_size}} cc</span>
                      </div>

                    </li>
                    <li class="flex-row flex-justify">

                       <div class="detail-col">
                        <span>Interior Color</span><span>{{vehicle.interior}}</span>
                      </div>
                      <div class="detail-col">
                        <span>Transmission</span><span>{% if vehicle.transmission_id==1 %} Manual {% elif vehicle.transmission_id==2
                                                       %} Automatic {% else %} N/A {% endif %}</span>
                      </div>

                    </li>
                    <li class="flex-row flex-justify">

                      <div class="detail-col">
                        <span>Exterior Color</span><span>{{vehicle.color}}</span>
                      </div>
                      {% if vehicle.drive_type %}
                      <div class="detail-col">
                        <span>Drivetype</span><span>{{vehicle.drive_type}}</span>
                      </div>
                      {% else %}
                      <div class="detail-col">
                        <span></span><span></span>
                      </div>
                      {% endif %}

                    </li>
                  </ul>
                  <div class="brends flex-row flex-center">
                    <a href="#"><img src="" alt=""></a>
                    <a href="#"><img src="" alt=""></a>

                  </div>

                </div>

                <div class="content-element3">

                  <h4><b>Standard Features</b></h4>
                  <div class="features-section">

                    <div class="row">
                      <div class="col-xs-6">

                        <ul class="custom-list type-5">
                          {% for features in vehicle.features%}
                          <li>{{features.name}}</li>
                          {% endfor %}

                        </ul>

                      </div>
                    </div>
                    <div class="row other-items">
                      <div class="col-xs-6">

                        <ul class="custom-list type-5">

                          <li>Speakers</li>

                        </ul>

                      </div>
                    </div>

                  </div>

                  <a href="#" class="show-more info-btn type2">Show All</a>

                </div>

                <div class="content-element3">

                  <h4><b>Description</b></h4>
                  <p>{{vehicle.description}}</p>
                </div>



                <div class="content-element3">
                  <a href="{{ url_for('home.inventory') }}" class="info-btn">View More Stock</a>
                </div>

              </div>

            </main>
            <aside id="sidebar" class="col-md-4">

              <div class="content-element3">

                <div class="sidebar-item dealer-item style-2">

                  <div class="dealer-title">

                    <div class="wrapper">
                      <h5><a href="#">Gigi Motors Limited</a></h5>
                      <div class="rating-area">

                      </div>
                    </div>
                  </div>

                  <div class="dealer-desc">

                    <div class="contact-section">

                      <div class="contact-item">
                        <h6 class="contact-title"><i class="licon-map-marker"></i><span>{% if vehicle.area %}{{vehicle.area}}
                        {% else %} Nairobi {% endif %}</span></h6>
                        <span class="contact-desc with-icon"><a href="https://goo.gl/maps/wnEMPBVSiBwUUKJ6A"
                                target="_blank" class="link-text2 map-button">
                            Map & Directions</a></span>
                      </div>

                    </div>

                  </div>

                </div>

                <a href="#" class="btn btn-big btn-style-3 sidebar-btn" content="telephone=no">
                  <i class="licon-telephone"></i><b>{{vehicle.phone_number}}</b></a>

                <div class="question-form bg-sidebar-item">

                  <h5>Enquire</h5>
                  <p class="type-2">All fields are required.</p>

                  <form method="post" action="">
                            {{ form.hidden_tag() }}
                    {{ form.name(class="", placeholder="Name") }}
                    {{ form.email(class="", placeholder="Email" ) }}

                    <div class="form-cols">
                      <div class="form-collumn col-sm-12">
                        {{ form.phone_number(class="", placeholder="Phone Number") }}
                      </div>
                      <div style="display: none;">
                        {{ form.year(class="form-control", type="hidden", value=vehicle.year)}}
                        {{ form.plate(class="form-control", type="hidden", value=vehicle.plate)}}
                        {{ form.budget(class="form-control", type="hidden", value=vehicle.price) }}
                        {{ form.make(class="form-control", type="hidden", value=vehicle.make.name) }}
                        {{ form.model(class="form-control", type="hidden", value=vehicle.model.name) }}
                      </div>
                    </div>

                    {{ form.message(class="", rows="4", placeholder="Type here to let us know how we
                    can be of assistance. You can book a test drive or request for more photos, we are here to assist.") }}
                    {{ form.submit(class="btn btn-style-3") }}
                  </form>



                </div>

              </div>

              <h6>More Stock</h6>
              <div class="products-holder view-list">

                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                {% for mv in more_vehicles %}
                <div class="product">

                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                  <div class="product-image">
                    <a href="{{ url_for('home.view_car', id=mv.id) }}">
                      <img style="height: 87px; width:130px;" src="{{ url_for('static', filename='ckeditor_uploads/{}'.format(mv.image_url))}}" alt=""></a>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                  <div class="product-description">

                    <h5 class="product-name"><a href="{{ url_for('home.view_car', id=mv.id) }}">{{ mv.year }} {{mv.name }}</a></h5>

                    <div class="pricing-area">

                      <div class="product-price">
                        {{'KSh {:,}'.format(mv.price)}}
                      </div>

                    </div>

                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                </div>
                {% endfor %}
                <!-- - - - - - - - - - - - - - /Product - - - - - - - - - - - - - - - - -->


              </div>


            </aside>
          </div>

        </div>

      </div>

      <div class="align-center"><a href="#"><img src="" alt=""></a></div>




    </div>

    <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->


{% endblock %}
